/* ubuntu-regular - latin */
@font-face {
	font-display: swap;
	/* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'Ubuntu';
	font-style: normal;
	font-weight: 400;
	src: url('/fonts/ubuntu-v20-latin-regular.woff2') format('woff2');
	/* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* ubuntu-700 - latin */
@font-face {
	font-display: swap;
	/* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'Ubuntu';
	font-style: normal;
	font-weight: 700;
	src: url('/fonts/ubuntu-v20-latin-700.woff2') format('woff2');
	/* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}


$color_1: black;
$color_2: white;
$color_3: rgb(174, 0, 0);
$color_4: green;
$font-family_1: "Ubuntu";

.hero-h3 {
	font-weight: 300;
	font-size: 2em;
	text-align: center;
	font-size: 2em;
	margin-bottom: 0em;
}


body {
	margin: 0;
	padding: 0;
	font-family: $font-family_1;
	background-color: beige;
}

.navbar {
	background-color: red;
	position: fixed;
	width: 100%;
	padding: 0.7em 1em;
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-sizing: border-box;
	top: 0;

	.navbar-left {
		.logo {
			text-decoration: none;
			color: $color_1;
			font-weight: 700;
			font-size: 1.8em;
		}
	}

	.navbar-right {
		a {
			text-decoration: none;
		}

		.navbar-ul {
			list-style-type: none;
			display: flex;
			align-items: center;
			padding: 0;
			margin: 0;

			.navbar-li {
				display: flex;
				align-items: center;

				img {
					height: 1.8em;
				}

				.navbar-p {
					color: $color_1;
					margin: 0;
					font-size: 0.8em;

					span {
						display: block;
					}
				}
			}
		}
	}
}

.web-top {
	margin-top: 2.5em;
	display: flex;
	flex-direction: column;
	text-align: center;

	.left {

		padding: 1em;

		.about-us {

			font-size: 1em;

		}

	}

	.right {

		padding: 1em;
		max-width: 20em;

		p {

			font-size: 1.5em;
			margin-top: .5em;

		}

	}

}

.hero {
	display: block;
	margin-left: 1em;
	margin-right: 1em;
	justify-content: center;

	.hero-main {
		display: flex;
		flex-direction: column;
		align-items: center;

		.hero-main-open {
			text-align: center;
			font-size: 2em;
			font-weight: 300;
			margin-bottom: 0;
		}

		.hours {
			font-weight: 300;
			padding: 0.5em 1em;
			background-color: red;
			border-radius: 1em;
			text-align: center;
			font-size: 1.2em;

			span {
				display: block;
			}

			.hours-title {
				font-size: 1.5em;
				margin-bottom: 0.2em;
			}
		}

		.reserve-berries {
			padding: 0.5em 1em;
			background-color: rgb(174, 0, 0);
			color: $color_2;
			border-radius: 1em;
			text-decoration: none;
			font-size: 1.5em;
			margin-top: -0.5em;
		}

		.contact-us {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;

			.contact-text {
				font-size: 2em;
				font-weight: 300;
				margin-bottom: 0.5em;
			}

			.contact-links {
				display: flex;
				flex-direction: row;
				align-items: center;
				margin-bottom: 1em;

				a {
					text-decoration: none;
					display: flex;
					align-items: center;
					margin: 0 1em;

				}
			}
		}
	}

	.status {
		display: flex;
		flex-direction: column;
		align-items: center;

		.hero-h3 {
			font-weight: 300;
			font-size: 2em;
			text-align: center;
			font-size: 2em;
			margin-bottom: 0em;

			span {
				display: block;
				font-weight: 300;
			}

			.status-closed-for-season {
				font-weight: 700;
				color: $color_3;
			}

			.status-planting-season {
				font-weight: 700;
				color: $color_4;
			}

			a {

				text-decoration: none;
				color: black;

			}
		}

		.closed {
			width: 20em;
			height: 20em;
			border-radius: 1em;
			//margin-top: -1.5em;
		}
	}

	.hero-right {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-bottom: 1em;

		.prices {
			text-align: center;
			font-size: 2em;
			font-weight: 300;
			margin-bottom: 0.5em;
		}

		.prices-img {
			width: 20em;
			border-radius: 1em;
		}
	}

	.announcement-div {
		display: block;

		.announcement {
			color: $color_3;
			text-align: center;
			margin-top: 2.5em;
			font-size: 2em;
		}
	}


	.return-div {
		text-align: center;

		.return {
			text-decoration: none;
			color: $color_1;
			background-color: beige;
			border: 0.2em solid;
			border-radius: 1em;
			border-color: rgb(174, 0, 0);
			padding: 0.3em 0.5em;
			font-size: 1.2em;
		}
	}
}

.news-chip {

	width: 80%;
	overflow: hidden;
	border-radius: 1em;
	margin-bottom: 1em;
	text-decoration: none;
	border-bottom-right-radius: 0em;
	margin-top: 1em;


	.chip-image {

		max-width: 100%;
		min-width: 100%;
		margin: 0;
		padding: 0;
		display: block;

	}


	.bottom {

		background-color: $color_3;
		padding: .7em;
		max-width: 100%;

		.title {

			color: white;
			font-weight: 700;
			font-size: 1.5em;
			margin-bottom: .3em;

		}

		.date {

			text-align: right;
			color: white;
			font-size: 1.1em;

		}

	}

}

.more-news {

	color: white;
	background-color: $color_3;
	padding: .5em 1em;
	font-size: 1.5em;
	border-radius: 1em;
	text-decoration: none;

}

.secondary {

	display: flex;
	flex-direction: column;
	align-items: center;

	margin-bottom: 1em;
	text-align: center;

	.facebook {

		h4 {

			text-align: center;
			font-size: 2em;
			font-weight: 300;
			margin-bottom: .5em;

		}

	}


	.contact-text {

		text-align: center;
		font-size: 2em;
		font-weight: 300;
		margin-bottom: .5em;

	}

	.contact-links {

		a {

			text-decoration: none;


		}

	}

}

@media only screen and (min-width: 768px) {


	


	.navbar {
		.navbar-left {
			.logo {
				font-size: 2.5em;
			}
		}

		.navbar-right {
			.navbar-ul {
				.navbar-li {
					.navbar-p {
						.city-span {
							display: inline;
							font-size: 1.5em;
						}
					}
				}
			}
		}
	}

	.web-top {

	flex-direction: row;
	justify-content: center;

		.left {

			width: 20em;
			padding: 0;
			margin: .5em 2em;

			.about-us {

				font-size: 1.3em;

			}

		}

		.right {

			margin-left: 0;
			width: 20em;
			padding: 0;
			margin: .5em 2em;

		}
	}

	.hero {
		display: flex;
		justify-content: center;

		.status {
			width: 20em;
			margin: .5em 2em;
			padding: 0;

			.hero-h3 {
				span {
					display: inline;
				}
			}

			.closed {
				margin-top: 0;
			}
		}

		.hero-right {
			margin-bottom: 0;
			width: 20em;
			margin: .5em 2em;
			padding: 0;
		}
	}

	.news-chip {

		width: 20em;
		margin: 1em;

	}

	.secondary {

		flex-direction: row;
		justify-content: center;
		align-items: normal;
		justify-content: center;

			.facebook {

				width: 20em;
				margin: .5em 2em;
				padding: 0;

			}

			.contact-us {

				width: 20em;
				margin: .5em 2em;
				padding: 0;

			}
	}
}