/* ubuntu-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/ubuntu-v20-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* ubuntu-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/ubuntu-v20-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
body {
  margin: 0;
  padding: 0;
  font-family: "Ubuntu";
  background-color: beige;
}

.navbar {
  background-color: red;
  position: fixed;
  width: 100%;
  padding: 0.7em 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  top: 0;
}
.navbar .navbar-left .logo {
  text-decoration: none;
  color: black;
  font-weight: 700;
  font-size: 1.8em;
}
.navbar .navbar-right a {
  text-decoration: none;
}
.navbar .navbar-right .navbar-ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
}
.navbar .navbar-right .navbar-ul .navbar-li {
  display: flex;
  align-items: center;
}
.navbar .navbar-right .navbar-ul .navbar-li img {
  height: 1.8em;
}
.navbar .navbar-right .navbar-ul .navbar-li .navbar-p {
  color: black;
  margin: 0;
  font-size: 0.8em;
}
.navbar .navbar-right .navbar-ul .navbar-li .navbar-p span {
  display: block;
}

.hero {
  margin-top: 3.5em;
  display: block;
  margin-left: 1em;
  margin-right: 1em;
  justify-content: center;
}
.hero .hero-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero .hero-main .hero-main-open {
  text-align: center;
  font-size: 2em;
  font-weight: 300;
  margin-bottom: 0;
}
.hero .hero-main .hours {
  font-weight: 300;
  padding: 0.5em 1em;
  background-color: red;
  border-radius: 1em;
  text-align: center;
  font-size: 1.2em;
}
.hero .hero-main .hours span {
  display: block;
}
.hero .hero-main .hours .hours-title {
  font-size: 1.5em;
  margin-bottom: 0.2em;
}
.hero .hero-main .reserve-berries {
  padding: 0.5em 1em;
  background-color: rgb(174, 0, 0);
  color: white;
  border-radius: 1em;
  text-decoration: none;
  font-size: 1.5em;
  margin-top: -0.5em;
}
.hero .hero-main .contact-us {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero .hero-main .contact-us .contact-text {
  font-size: 2em;
  font-weight: 300;
  margin-bottom: 0.5em;
}
.hero .hero-main .contact-us .contact-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1em;
}
.hero .hero-main .contact-us .contact-links a {
  text-decoration: none;
  display: flex;
  align-items: center;
  margin: 0 1em;
}
.hero .status {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero .status .hero-h3 {
  font-weight: 300;
  font-size: 2em;
  text-align: center;
  font-size: 2em;
  margin-bottom: 0em;
}
.hero .status .hero-h3 span {
  display: block;
  font-weight: 300;
}
.hero .status .hero-h3 .status-closed-for-season {
  font-weight: 700;
  color: rgb(174, 0, 0);
}
.hero .status .hero-h3 .status-planting-season {
  font-weight: 700;
  color: green;
}
.hero .status .hero-h3 a {
  text-decoration: none;
  color: black;
}
.hero .status .closed {
  width: 20em;
  height: 20em;
  border-radius: 1em;
}
.hero .hero-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1em;
}
.hero .hero-right .prices {
  text-align: center;
  font-size: 2em;
  font-weight: 300;
  margin-bottom: 0.5em;
}
.hero .hero-right .prices-img {
  width: 20em;
  border-radius: 1em;
}
.hero .announcement-div {
  display: block;
}
.hero .announcement-div .announcement {
  color: rgb(174, 0, 0);
  text-align: center;
  margin-top: 2.5em;
  font-size: 2em;
}
.hero .form {
  display: block;
}
.hero .form form {
  font-size: 1em;
  display: flex;
  flex-direction: column;
}
.hero .form form .form-div {
  margin: 0.5em 0;
  display: flex;
  justify-content: space-between;
  border: 0.2em solid;
  border-color: rgb(174, 0, 0);
  border-radius: 1em;
  padding: 0.5em 1em;
}
.hero .form form .form-div input {
  border: none;
  border-radius: 1em;
  margin-left: 1em;
  padding: 0.5em;
}
.hero .form form .your-name {
  align-items: center;
}
.hero .form form .submit-div {
  text-align: center;
  margin-bottom: 1em;
}
.hero .form form .submit-div .submit {
  border: 0.2em solid;
  font-size: 1.2em;
  border-color: rgb(174, 0, 0);
  background-color: rgb(174, 0, 0);
  color: white;
  border-radius: 1em;
  padding: 0.3em 0.5em;
  margin-top: 0.5em;
  cursor: pointer;
}
.hero .return-div {
  text-align: center;
}
.hero .return-div .return {
  text-decoration: none;
  color: black;
  background-color: beige;
  border: 0.2em solid;
  border-radius: 1em;
  border-color: rgb(174, 0, 0);
  padding: 0.3em 0.5em;
  font-size: 1.2em;
}

.news-chip {
  width: 80%;
  overflow: hidden;
  border-radius: 1em;
  margin-bottom: 3em;
  text-decoration: none;
  border-bottom-right-radius: 0em;
}
.news-chip .chip-image {
  max-width: 100%;
  min-width: 100%;
  margin: 0;
  padding: 0;
  display: block;
}
.news-chip .bottom {
  background-color: rgb(174, 0, 0);
  padding: 0.7em;
  max-width: 100%;
}
.news-chip .bottom .title {
  color: white;
  font-weight: 700;
  font-size: 1.5em;
  margin-bottom: 0.3em;
}
.news-chip .bottom .date {
  text-align: right;
  color: white;
  font-size: 1.1em;
}

.secondary {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1em;
  text-align: center;
}
.secondary .facebook h4 {
  text-align: center;
  font-size: 2em;
  font-weight: 300;
  margin-bottom: 0.5em;
}
.secondary .contact-text {
  text-align: center;
  font-size: 2em;
  font-weight: 300;
  margin-bottom: 0.5em;
}
.secondary .contact-links a {
  text-decoration: none;
}

@media only screen and (min-width: 768px) {
  .navbar .navbar-left .logo {
    font-size: 2.5em;
  }
  .navbar .navbar-right .navbar-ul .navbar-li .navbar-p .city-span {
    display: inline;
    font-size: 1.5em;
  }
  .hero {
    display: flex;
  }
  .hero .hero-main {
    margin-right: 3em;
  }
  .hero .status {
    margin-right: 3em;
    max-width: 20em;
  }
  .hero .status .hero-h3 span {
    display: inline;
  }
  .hero .status .closed {
    margin-top: 0;
  }
  .hero .hero-right {
    margin-left: 3em;
    margin-bottom: 0;
  }
  .hero .form {
    margin-top: 3em;
  }
  .hero .form form {
    font-size: 1.2em;
  }
  .news-chip {
    width: 20em;
    margin: 1em;
  }
  .secondary {
    flex-direction: row;
    justify-content: center;
    align-items: normal;
  }
  .secondary .facebook {
    margin-right: 3em;
  }
  .secondary .contact-us {
    margin-left: 3em;
  }
}/*# sourceMappingURL=main.css.map */