/* ubuntu-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/ubuntu-v20-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* ubuntu-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/ubuntu-v20-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
body {
  margin: 0;
  padding: 0;
  font-family: "Ubuntu";
  background-color: beige;
}

.navbar {
  background-color: red;
  position: fixed;
  width: 100%;
  padding: 0.7em 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  top: 0;
}
.navbar .navbar-left .logo {
  text-decoration: none;
  color: black;
  font-weight: 700;
  font-size: 1.8em;
}
.navbar .navbar-right a {
  text-decoration: none;
}
.navbar .navbar-right .navbar-ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
}
.navbar .navbar-right .navbar-ul .navbar-li {
  display: flex;
  align-items: center;
}
.navbar .navbar-right .navbar-ul .navbar-li img {
  height: 1.8em;
}
.navbar .navbar-right .navbar-ul .navbar-li .navbar-p {
  color: black;
  margin: 0;
  font-size: 0.8em;
}
.navbar .navbar-right .navbar-ul .navbar-li .navbar-p span {
  display: block;
}

.news {
  padding: 1em;
  text-align: center;
  margin-top: 2.5em;
}
.news .news-body span {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
.news .news-body .image {
  width: 80%;
  margin: 1em;
  border-radius: 1em;
}

.news-chips {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 6em;
}
.news-chips .news-chip {
  width: 80%;
  overflow: hidden;
  border-radius: 1em;
  margin-bottom: 3em;
  text-decoration: none;
  border-bottom-right-radius: 0em;
}
.news-chips .news-chip .chip-image {
  max-width: 100%;
  min-width: 100%;
  margin: 0;
  padding: 0;
  display: block;
}
.news-chips .news-chip .bottom {
  background-color: rgb(174, 0, 0);
  padding: 0.7em;
  max-width: 100%;
}
.news-chips .news-chip .bottom .title {
  color: white;
  font-weight: 700;
  font-size: 1.5em;
  margin-bottom: 0.3em;
}
.news-chips .news-chip .bottom .date {
  text-align: right;
  color: white;
  font-size: 1.1em;
}

@media only screen and (min-width: 768px) {
  .navbar .navbar-left .logo {
    font-size: 2.5em;
  }
  .navbar .navbar-right .navbar-ul .navbar-li .navbar-p .city-span {
    display: inline;
    font-size: 1.5em;
  }
  .news .news-body .image {
    width: 30%;
  }
  .news-chips {
    flex-direction: row;
    padding: 2em;
    align-items: baseline;
  }
  .news-chips .news-chip {
    width: 20em;
    margin: 1em;
  }
}/*# sourceMappingURL=main.css.map */